{% extends "maqueta.html" %}
{% block index %}
<nav class="menu">
    <a href="{% url 'index' %}">Inicio</a>
    <a href="#">Quienes somos</a>
    <a href="#">Servicios</a>
    <a href="#">Contáctanos</a>
    <a href="#">Registro</a>
</nav>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form class="login" method="POST">
<div class="loginContenedor">
    <div>
        {%csrf_token%}
        {{form.as_ul}}
    </div>
    <input type="submit" value="Ingresar al Sistema" class="btnEnviar">
</div>
</form>
    <a href="{% url 'password_reset' %}">Olvide mi password</a>

{% endblock %}
