{% extends 'maqueta.html' %}
{% block index %}
<nav class="menu">
    <a href="{% url 'index' %}">Inicio</a>
    <a href="#">Quienes somos</a>
    <a href="#">Servicios</a>
    <a href="#">Contáctanos</a>
</nav>
{% if validlink %}
<h1>Nueva contraseña</h1>
<form method="POST">
 {% csrf_token %}

 {{ form.new_password1.errors }}
 <label for="id_new_password1">Nueva contraseña:</label>
 {{ form.new_password1 }}

 {{ form.new_password2.errors}}
 <label for="id_new_password2">Confirme contraseña:</label>
 {{ form.new_password2 }}
 <input type="submit" value="Cambiar mi contraseña"/>
</form>

{% else %}
<h1 class="text-center">ENLACE INCORRECTO: ESTE ENLACE YA FUE UTILIZADO</h1>
{% endif %}
{% endblock %}
